body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5929e5;
  text-align: center;
  font-family: kidy, fantasy;
  user-select: none;
}
a{
  color: #000;
}
img{
  pointer-events: none;
}
.hor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hor *{
  flex: 1;
}
nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background: #fff;
  border-bottom: solid 2px #fff;
}
#nav img{
  width: 20vw;
  height: auto;
}
#back{
  width: 5%;
  height: 5%;
  left: 1vw;
  top: 25vw;
  position: fixed;
  z-index: 2;
}
#menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: none;
  margin: none;
}
#current{
  margin: 1px;
  background: #fff;
  border-radius: 5%;
  filter: invert(100%);
}
.others{
  border-bottom: 2px solid #5929e5;
}
main{
  margin: none;
  margin-top: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
  margin: 5vw auto;
  background: #fef6ff;
  border-radius: 15%;
  text-decoration: none;
}
main div img{
  width: 22vw;
}
main div:active{
  filter: invert(40%);
}
.anm{
  margin: none;
  margin-top: 25vw;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.anm div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vmin;
  height: 90vmin;
  margin: 3vw;
  background: #fef6ff;
  border-radius: 30%;
}
.anm div:nth-child(1){
  display: flex;
  box-shadow: 1px 1px 1px #000, -1px -2px 1px #000;
}
.anm div:nth-child(2){
  display: none;
  box-shadow: 1px 1px 1px #000, -1px -2px 1px #000;
}
.anm div:nth-child(3){
  display: none;
  box-shadow: -1px -2px 1px #000;
}
.anm div:nth-child(4){
  display: none;
  box-shadow: 1px 2px 1px #000, -1px -1px 1px #000;
}
.anm div:nth-child(5){
  display: none;
  box-shadow: 1px 2px 1px #000, -1px -1px 1px #000;
}

.controls{
  position: fixed;
  bottom: 3vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.controls div:first-child{
  color: #50c46e;
  background: #1b4225;
  padding: 0.7 1em;
  border-radius: 15%;
}
.controls div:last-child{
  color: #c450a5;
  background: #421b38;
  padding: 0.7 1em;
  border-radius: 15%;
}
#pass{
  position: fixed;
  bottom: 1px;
  left: 2vw;
  color: #50c46e;
  background: #1b4225;
  padding: 0.7 1em;
  border-radius: 15%;
}
#fail{
  position: fixed;
  bottom: 1px;
  right: 2vw;
  color: #c450a5;
  background: #421b38;
  padding: 0.7 1em;
  border-radius: 15%;
}
#message{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  width: 70vw;
  height: 70vh;
  left: 15vw;
  top: 20vh;
  color: #fef6ff;
  background: #000;
}
h1{
  font-size: 1em;
}
@font-face {
  font-family: kidy;
  font-weight: bold;
  src: url('fonts/font1.ttf');
}
@media screen and (min-width: 600px){
  main{
    flex-direction: row;
    flex-wrap: wrap;
  }
  main div{
    width: 20vw;
    height: 20vw;
  }
  main div img{
    width: 11vw;
  }
}

