body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5929e5;
  text-align: center;
  font-family: kidy, fantasy;
  user-select: none;
}
a{
  color: #000;
}
.hor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hor *{
  flex: 1;
}
nav{
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 5em;
  background: #fff;
  border-bottom: solid 2px #fff;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
#nav img, #nav svg{
  width: auto;
  height: 5em;
}
#back{
  width: 5%;
  height: 5%;
  left: 1vw;
  top: 5em;
  position: fixed;
  z-index: 2;
}
#menu{
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#current{
  margin: 1px;
  background: #fff;
  border-radius: 5%;
  filter: invert(100%);
}
.others{
  border-bottom: 2px solid #5929e5;
}
main{
  z-index: 0;
  margin: none;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  width: 90vw;
}
main a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
  margin: 5vw auto;
  background: #fef6ff;
  border-radius: 15%;
  text-decoration: none;
}
a div img{
  width: 22vw;
}
h1{
  font-size: 1em;
}
@font-face {
  font-family: kidy;
  font-weight: bold;
  src: url('font1.ttf');
}
@media screen and (min-width: 600px){
  main{
    flex-direction: row;
    flex-wrap: wrap;
  }
  main a{
    width: 20vw;
    height: 20vw;
  }
  a div img{
    width: 11vw;
  }
}