body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5929e5;
  font-family: kidy, fantasy;
  user-select: none;
}
a{
  color: #000;
}
.hor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background: #fff;
  border-bottom: solid 2px #fff;
}
#nav img{
  width: 20vw;
  height: auto;
}
#back{
  width: 5%;
  height: 5%;
  left: 1vw;
  top: 25vw;
  position: fixed;
  z-index: 2;
}

#current{
  margin: 1px;
  background: #000;
  border-radius: 5%;
  filter: grayscale(100%);
}
.others{
  border-bottom: 2px solid #5929e5;
}
main{
  margin: none;
  margin-top: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 70vw;
  margin: 5vw auto;
  background: #fef6ff;
  border-radius: 15%;
  text-decoration: none;
}
main a div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a div img{
  width: 22vw;
}
h1{
  font-size: 1em;
}
@font-face {
  font-family: kidy;
  font-weight: bold;
  src: url('font1.ttf');
}
@media screen and (min-width: 600px){
  main a{
    margin: auto 5vw;
    width: 35vw;
    height: 35vw;
  }
  a div img{
    width: 11vw;
  }
}



