body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5929e5;
  font-family: fantasy;
  user-select: none;
}
a{
  color: #000;
}
.hor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background: #fff;
  border-bottom: solid 2px #fff;
}
#nav div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nav img{
  width: 20vw;
  height: auto;
}
#menu{
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#back{
  width: 5%;
  height: 5%;
  left: 1vw;
  top: 25vw;
  position: fixed;
  z-index: 2;
}

main{
  margin: none;
  margin-top: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main div{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2vw;
}
main div *{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
  border-radius: 20%;
  background: #fef6ff;
}
main div img{
  margin: 2vw;
}
#message{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  width: 70vw;
  height: 70vh;
  left: 15vw;
  top: 20vh;
  color: #fef6ff;
  background: #000;
  font-family: kidy, fantasy;
}
@font-face {
  font-family: kidy;
  font-weight: bold;
  src: url('font1.ttf');
}
