body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5929e5;
  text-align: center;
  font-family: fantasy;
  user-select: none;
}
a{
  color: #000;
}

nav{
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background: #fff;
  border-bottom: 2px solid #fff;
}
#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
}
#nav div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nav img, #nav svg{
  width: auto;
  height: 5em;
}
#menu{
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  margin: none;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#question{
  margin-top: 5em;
}
#image{
  width: 40vw;
  height: 40vw;
}
main p{
  display: inline;
  font-size: 2em;
}
#question p{
  padding: 2vw;
}
#hidden{
  color: #0f0;
  text-decoration: underline;
}
#bottoms{
  position: fixed;
  bottom: 3vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#bottoms div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  background: #fff;
}
.letteropt{
  min-height: 15vw;
}
#bottoms div:active{
  opacity: 0.3;
}
#bottoms div img{
  width: 15vw;
  height: 15vw;
}
#bottoms div img:active{
  opacity: 0.3;
}

#endScore{
  display: none;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  width: 70vw;
  height: 70vh;
  left: 15vw;
  top: 20vh;
  color: #fef6ff;
  background: #000;
}